<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<style>
    @import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.container {
	height: 100vh;
	font-family: "Montserrat", "sans-serif";
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	a {
		color: black;
	}
	}
</style>
<header style="background-color: black;">
<p style="color: aliceblue; text-align :center ">Created By Muhammad Jamali Using Express.js</p>
</header>
<body>
    <div class="container">
	<h1>An error as occured.</h1>
	<h1> <span class="ascii">(╯°□°）╯︵ ┻━┻</span></h1>
	<a href="/" style="color: black;">Go back</a>
</div>
</body>
</html>